*~

.apport-ignore.xml
.bash_history
.bash_logout
.cache/
.cargo/
.config/*
!.config/nvim
.emacs.d/elpa
.degit/
.docker/
.dotnet/
.git-credentials
.gitconfig
.gnome/
.gnupg/
.lesshst
.local/
.npm/
.nvidia-settings-rc
.pki/
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.vim/
.vscode/
.wget-hsts
Downloads/
Pictures/
apps/
get-docker.sh
repos/
snap/